<!DOCTYPE html>
<html>
<head>
  <title>Spud Admin</title>
  <%= stylesheet_link_tag    "spud/admin/application" %>
  <%= javascript_include_tag "spud/admin/application" %>
  <%= csrf_meta_tags %>
  <%=yield :head%>
</head>
<body>
<div id="header">
	<h1>Spud Admin</h1>
	<div id="user_meta">
		<span class="greeting">Hello <%=@current_user.login%></span>&nbsp;|&nbsp;<a href="#">Settings</a>&nbsp;|&nbsp;<%=link_to "Logout",spud_user_session_url,:method => :delete%></a>
	</div>
</div>
<div id="breadcrumbs">
<%= render_breadcrumbs :separator => ' / ' %>
</div>
<div id="content">
<% if flash[:notice] %>
  <div class="flash notice"><%= flash[:notice] %></div>
<% end %>
<% if flash[:warning] %>
  <div class="flash warning"><%= flash[:warning] %></div>
<% end %>
<% if flash[:error] || @error_object_name.nil? == false %>
<div class="flash error">
	  <%= flash[:error] %>
<%-unless @error_object_name.nil?%>
	  <%-if @error_object_name.is_a?(Array)%>
		 <%=error_messages_for @error_object_name[0], :header_message => @error_object_name[1], :message => @error_object_name[2]%>
	  <%-else%>
		 <%=error_messages_for @error_object_name%>
    <%-end%>
 
 <%-end%>
</div>
<%-end%>
	<%= content_for?(:content) ? yield(:content) : yield %>
</div>

</body>
</html>
