<!DOCTYPE html>
<html>
<head>
  <title>Spud Admin</title>
  <%= stylesheet_link_tag    "spud/admin/application" %>
  <%= javascript_include_tag "spud/admin/application" %>
  <%= csrf_meta_tags %>
  <%=yield :head%>
</head>
<body>
<div id="header">
	<h1>Spud Admin</h1>
	<div id="user_meta">
		<span class="greeting">Hello <%=@current_user.login%></span>&nbsp;|&nbsp;<%=link_to "Settings", spud_settings_path%>&nbsp;|&nbsp;<%=link_to "Logout",spud_user_session_url,:method => :delete%></a>
	</div>
</div>
<div id="breadcrumbs">
<%= render_breadcrumbs :separator => ' / ' %>
</div>
<div id="content">
<% if flash[:notice] %>
  <div class="flash notice"><%= flash[:notice] %></div>
<% end %>
<% if flash[:warning] %>
  <div class="flash warning"><%= flash[:warning] %></div>
<% end %>
<% if flash[:error]%>
<div class="flash error">
	  <%= flash[:error] %>
</div>
<%-end%>
	<%= content_for?(:content) ? yield(:content) : yield %>
</div>

</body>
</html>
