<!DOCTYPE html>
<html>
<head>
  <title>Spud Admin</title>
  <%= stylesheet_link_tag *Spud::Core.config.admin_stylesheets %>
  <%= javascript_include_tag *Spud::Core.config.admin_javascripts %>
  <%= csrf_meta_tags %>
  <%=yield :head%>
</head>
<body>
<div id="header" style="<%=header_style%>">
	<%=link_to spud_admin_root_url do%>
    <h1>Spud Admin</h1>
  <%end%>

	<div id="user_meta">
		<span class="greeting">Hello <%=@current_user.full_name%></span>&nbsp;|&nbsp;<%=link_to "Settings", spud_settings_path%>&nbsp;|&nbsp;<%=link_to "Logout",spud_user_session_url,:method => :delete%></a>
	</div>
  <%if Spud::Core.multisite_mode_enabled == true%>
    <div id="multisite_switcher" class="right_floated">
      <%=form_tag spud_admin_switch_url do%>
        <%=select_tag :multisite_select,options_for_select([[Spud::Core.site_name,nil]] + Spud::Core.multisite_config.collect{|c| [c[:site_name],c[:site_id]]},session[:admin_site])%>
      <%end%>
    </div>
  <%end%>
</div>
<div id="breadcrumbs">
<%= render_breadcrumbs :separator => ' / ' %>
</div>
<div id="content" class="container">
<% if flash[:notice] %>
  <div class="alert alert-success">
    <a class="close" data-dismiss="alert">×</a>
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:warning] %>

  <div class="alert alert-warning">
    <a class="close" data-dismiss="alert">×</a>
    <%= flash[:warning] %>
  </div>
<% end %>
<% if flash[:error]%>

<div class="alert alert-danger">
    <a class="close" data-dismiss="alert">×</a>
	  <%= flash[:error] %>
</div>
<%-end%>
	<%= content_for?(:content) ? yield(:content) : yield %>
</div>



<div class="modal fade" id="modal_window" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary form-submit">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


</body>
</html>
