<%content_for :detail do%>
	<%=form_tag "/spud/setup",:method => :post,:class=>"form-horizontal" do %>
		<fieldset>
			<legend>New Admin Account</legend>
			
				<div class="control-group">
					<%=label_tag "Login",:class => "control-label"%>
					<div class="controls">
						<%=text_field_tag :login,nil,:title => "",:size=>25%>
					</div>
				</div>
				<div class="control-group">
					<%=label_tag "Email",:class => "control-label"%>
					<div class="controls">
						<%=text_field_tag :email,nil,:title => "",:size=>25%>
					</div>
				</div>
				 
				<div class="control-group">
					<%=label_tag "Password",:class => "control-label"%>
					<div class="controls">
						<%=password_field_tag :password,nil,:title => "",:size=>25%>
						<p class="help-block">Password must be at least 8 characters</p>
					</div>
				</div>
				<div class="control-group">
					<%=label_tag "Confirm",:class => "control-label"%>
					<div class="controls">
						<%=password_field_tag :password_confirmation,nil,:title => "",:size=>25%>
						<p class="help-block">Retype your password here.</p>
					</div>
				</div>
				
				
			
		</fieldset>
		<div class="form-actions">
	    	<%=submit_tag "Create Admin Account", :class=>"btn btn-primary"%>
	    </div>
		
	<%end%>
	
<%end%>