<%=error_messages_for f.object%>
<fieldset>
  <legend>User Details</legend>

<div class="control-group">
	<%=f.label :login, :required=>true,:class=>"control-label"%>
	<div class="controls">
		<%=f.text_field :login,:title => "",:size=>25%>
	</div>
  
</div>
<div class="control-group">
	<%=f.label :email,:class=>"control-label"%>
	<div class="controls">
		<%=f.text_field :email, :title => "",:size => 25%>
	</div>
  
</div>
<div class="control-group">
	<%=f.label :first_name,:class=>"control-label"%>
	<div class="controls">
		<%=f.text_field :first_name, :title => "",:size => 25%>
	</div>
</div>
<div class="control-group">
	<%=f.label :last_name,:class=>"control-label"%>
	<div class="controls">
		<%=f.text_field :last_name, :title => "",:size => 25%>
	</div>
</div>
<div class="control-group">
  <%=f.label :time_zone,:class => "control-label"%>
  <div class="controls">
    <%=f.time_zone_select :time_zone,:default => Rails.application.config.time_zone%>
  </div>
</div>


</fieldset>
<fieldset>
  <legend>Credentials</legend>

<div class="control-group">
	<%=f.label :password,:class=>"control-label"%>
	<div class="controls">
		<%=f.password_field :password, :title => "",:size => 25%>
		<p class="help-block">Password must be at least 8 characters</p>
	</div>
  
</div>
<div class="control-group">
	<%=f.label :password_confirmation,"Confirm",:class=>"control-label"%>
	<div class="controls">
		<%=f.password_field :password_confirmation, :title => "",:size => 25%>
		<p class="help-block">Retype your password here.</p>
	</div>
  
</div>

</fieldset>
