<%=error_messages_for f.object%>
<fieldset>
  <legend>User Details</legend>

<div class="form-group">
	<%=f.label :login, :required=>true,:class=>"control-label col-sm-2"%>
	<div class="col-sm-8">
		<%=f.text_field :login,:title => "",:class => "form-control"%>
	</div>
  
</div>
<div class="form-group">
	<%=f.label :email,:class=>"control-label col-sm-2"%>
	<div class="col-sm-8">
		<%=f.text_field :email, :title => "",:class => "form-control"%>
	</div>
  
</div>
<div class="form-group">	
	<%=f.label :first_name,:class=>"control-label col-sm-2"%>
	<div class="col-sm-8">
		<%=f.text_field :first_name, :title => "",:class => "form-control"%>
	</div>
</div>
<div class="form-group">
	<%=f.label :last_name,:class=>"control-label col-sm-2"%>
	<div class="col-sm-8">
		<%=f.text_field :last_name, :title => "",:class => "form-control"%>
	</div>
</div>
<div class="form-group">
  <%=f.label :time_zone,:class => "control-label col-sm-2"%>
  <div class="col-sm-8">
    <%=f.time_zone_select :time_zone,ActiveSupport::TimeZone.us_zones,{:default => Rails.application.config.time_zone},{:class => "form-control"}%>
  </div>
</div>


</fieldset>
<fieldset>
  <legend>Credentials</legend>

<div class="form-group">
	<%=f.label :password,:class=>"control-label col-sm-2"%>
	<div class="col-sm-8">
		<%=f.password_field :password, :title => "",:class => "form-control"%>
		<p class="help-block">Password must be at least 8 characters</p>
	</div>
  
</div>
<div class="form-group">
	<%=f.label :password_confirmation,"Confirm",:class=>"control-label col-sm-2"%>
	<div class="col-sm-8">
		<%=f.password_field :password_confirmation, :title => "",:class => "form-control"%>
		<p class="help-block">Retype your password here.</p>
	</div>
  
</div>

</fieldset>
