<div class="login-form">
	<h1>Spud CMS Admin</h1>
	<%= form_for @user, url: spud_core.password_reset_path(:id => @user.perishable_token) do |f| %>
	  <% if flash[:notice] %>
	  <div class="alert alert-success">
	    <%= flash[:notice] %>
	  </div>
	<% end %>
	  <%= error_messages_for(f.object) %>

	  <div class="field-group">
	  	<%= f.label :password %>
	  	<%= f.password_field :password %>
	  </div>
	  <div class="field-group">
	  	<%= f.label :password_confirmation %>
	  	<%= f.password_field :password_confirmation %>
	  </div>

	  <div class="field-group">
	  	<%= f.submit "Reset Password" %>
	  </div>

	<% end %>
</div>
