<%=content_for :data_controls do%>
<%=link_to "New User",new_spud_admin_user_path(),:class => "ajax",:title => "New User"%>
<%end%>
<%=content_for :detail do%>
	<table class="admin-table data-table" id="usertable">
		<thead>
			<tr>
				
				<th>Login</th>
				<th>Email</th>
				<th>Name</th>
				
				<th>Last Login</th>
				<th>Date Created</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<%@users.each do |user|%>
				<tr id="row_user_<%=user.id%>">
					
					<td><%=link_to user.login,spud_admin_user_path(:id => user.id)%></td>
					<td><%=user.email%></td>
					<td><%=user.first_name%>&nbsp;<%=user.last_name%></td>
					
					<td><%=timestamp user.last_login_at%></td>
					<td><%=timestamp user.created_at%></td>
					<td align="right"><%=link_to "Edit",edit_spud_admin_user_path(:id => user.id),:class => "ajax", :title => "Edit User"%>&nbsp;|&nbsp;<%=link_to "Remove",spud_admin_user_path(:id => user.id),:method => :delete,:remote => true,:confirm => "Are you sure you want to remove this user?"%></td>
				</tr>
			<%end%>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="6">
					<%=will_paginate @users%>
				</td>
			</tr>
		</tfoot>
	</table>

<%end%>
